{# {% extends 'base.html.twig' %} #}

{# {% block title %}Register{% endblock %} #}

	<html>
		<head>
		<meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Registro
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																												           and uncomment the following Encore helpers to start using Symfony UX #}
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/HeadernFooter.css') }}">
		<link rel="stylesheet" href="{{ asset('css/body.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="container vh-100 d-flex justify-content-center align-items-center">
				<div class="bg-light  col-md-7 col-lg-5 p-4">
					{% for flashError in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}
					<h1>Registro</h1>

					{{ form_start(registrationForm) }}
					<div class="py-2">
						{{ form_row(registrationForm.username, { 
                    'attr': {'class': 'input-borde'},
            label: 'Usuario'
				}) }}
					</div>
					<div class="py-2">
						{{ form_row(registrationForm.plainPassword, { 
                    'attr': {'class': 'input-borde'},
            label: 'Contraseña'
				}) }}
					</div>
					<div class="py-2">
						{{ form_row(registrationForm.agreeTerms, { 
                    'attr': {'class': 'm-2'},
            label: 'Aceptar términos'
				}) }}
					</div>

					<button type="submit" class="boton-borde col-12">Registrarse</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		{% endblock %}

		<script src="{{ asset('jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('jquery/menu.js') }}"></script>
		<script src="https://kit.fontawesome.com/2bf8f3b8fb.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
