{% extends 'base.html.twig' %}
{% trans_default_domain 'layout' %}

{% block cabecera %}
	{{ parent() }}
	<div class="h4 pb-3">{{ libro.autor.nombre ~ ' ' ~ libro.autor.apellidos }}</div>
{% endblock %}
{% set nombre_pagina = libro.nombre %}
{% set cabecera_imagen = asset('images/'~libro.urlPortada) %}

{% block title %}
	{{ libro.nombre }}
{% endblock %}
{% block body %}
	{# <div class="container py-3">
		<div class="row py-4">
			<div class="libro-portada col-md-5 d-flex justify-content-center">
				<img src="{{ asset('images/'~libro.urlPortada) }}" class="libro-img col-10">
			</div>
			<div class="col-md-7 container px-4">
				<div>
					<div class="tabs">
						<div class="tab-button-outer">
							<ul id="tab-button">
								<li>
									<a href="#descripcion">Descripción</a>
								</li>
								<li>
									<a href="#detalles">Detalles</a>
								</li>
							</ul>
						</div>
						<div class="tab-select-outer">
							<select id="tab-select">
								<option value="#descripcion">Descripción</option>
								<option value="#detalles">Detalles</option>
							</select>
						</div>

						<div id="descripcion" class="tab-contents">
							<p>{{ libro.descripcionLarga|nl2br|nl2br }}</p>
						</div>
						<div id="detalles" class="tab-contents">
							<h2>Tab 2</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur, esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab, deserunt rem quibusdam voluptatum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> #}
	
	<div class="container d-flex justify-content-center">
		<div class="col-lg-8 col-md-11 contenedor-noticia">
			<div class="d-flex justify-content-center"><img src="{{ asset('images/'~libro.urlPortada) }}" class="img-fluid col-6 pb-4" alt="Responsive image"></div>
			<div><p>{{ libro.descripcionLarga|nl2br|nl2br }}</p></div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('css/libros.css') }}"> #}
	<link rel="stylesheet" href="{{ asset('css/noticia.css') }}">
	<link rel="stylesheet" href="{{ asset('css/libro.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('jquery/tabmenu.js') }}"></script>
{% endblock %}
