{% extends 'base.html.twig' %}
{% trans_default_domain 'layout' %}

{% set nombre_pagina = 'layout.libros'|trans %}

{% block title %}
	{{ 'layout.libros'|trans }}
{% endblock %}
{% block body %}
	<div class="d-flex flex-column contenedor-libros">
		{% for key, libro in libros %}
			<div class="apartado-libro">
				<div class="listado-libro {% if (key % 2) is not same as (0) %}listado-libro-reverso{% endif %} row">
					<div class="libro-portada col-md-5">
						<img src="{{ asset('images/'~libro.urlPortada) }}" class="libro-img">
					</div>
					<div class="col-md-7 libro-texto">
						<div>
							<div>{{ libro.nombre }}</div>
							<p>{{ libro.descripcionCorta }}</p>
							<a href="{{ path('libros')~'/'~libro.id }}">Más información</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/libros.css') }}">
{% endblock %}
