{% extends 'base.html.twig' %}
{% trans_default_domain 'layout' %}

{% set nombre_pagina = 'layout.contacto'|trans %}
{% set cabecera_imagen = asset('images/contacto.jpg') %}

{% block title %}
	{{ libro.nombre }}
{% endblock %}
{% block body %}
	<div class="container contenedor-contacto">
		<div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="formulario-contacto col-md-8 col-lg-6 p-4 my-5 bg-light">
			<div class="titulo-contacto">Contactanos</div>
				{% if resultado != null %}<p>{{ resultado }}</p>{% endif %}
			{{ form_start(our_form) }}
			<div class="d-flex flex-column contenedor-form-contacto">
				{{ form_row(our_form.name, { 
                    'attr': {'class': 'input-borde'}
				}) }}
				{{ form_row(our_form.from, { 
                    'attr': {'class': 'input-borde'}
				}) }}
				{{ form_row(our_form.message, { 
                    'attr': {'class': 'input-borde'}
				}) }}
				<input type="submit" value="Enviar" class="boton-borde col-md-4">
				{{ form_errors(our_form) }}
			</div>
			{{ form_end(our_form) }}

		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/contacto.css') }}">
{% endblock %}
