{% extends 'base.html.twig' %}

{% block cabecera %}
	<div class="h4 pb-3">{{ noticia.fecha|date("d/m/Y", "Europe/Madrid") }}</div>
	{{ parent() }}
{% endblock %}
{% set nombre_pagina = noticia.titulo %}

{% block title %}
	{{ noticia.titulo }}
{% endblock %}
{% block body %}
	<div class="container d-flex justify-content-center">
		<div class="col-lg-8 col-md-11 contenedor-noticia">
			<div><img src="{{ asset('images/noticias/'~noticia.urlImagen) }}" class="img-fluid pb-4" alt="Responsive image"></div>
			<div><p>{{ noticia.texto|nl2br }}</p></div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/noticia.css') }}">
{% endblock %}
