<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% trans_default_domain 'layout' %}
			{{ nombre_pagina|default('Error') }}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																										           and uncomment the following Encore helpers to start using Symfony UX #}
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/HeadernFooter.css') }}">
		<link rel="stylesheet" href="{{ asset('css/body.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>
	<body>

		{% block body %}{% endblock %}

		<script src="{{ asset('jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('jquery/menu.js') }}"></script>
		<script src="https://kit.fontawesome.com/2bf8f3b8fb.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  		<script>
  		  AOS.init();
  		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
